:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.trader-app-dashboard {
  background-color: rgba(29, 29, 29, 1);
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: min-content;
}
.row-layout {
  display: flex;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  width: 100%;
  height: calc(99.9% - 56px);
  min-width: 1740px;
}
.navbar {
  --igx-navbar-text-color: hsla(var(--ig-gray-900));
  --igx-navbar-background: hsla(var(--ig-surface-500));
  position: relative;
  align-self: stretch;
}
.nav-drawer {
  min-width: min-content;
  align-self: stretch;
  flex-shrink: 0;
}
.nav-drawer-item-3 {
  position: relative;
  min-width: 0;
  min-height: 0;
}
.view-container {
  overflow: auto;
  position: relative;
  min-width: 0;
  min-height: 0;
  flex-grow: 1;
}
.navbar-content {
  gap: 1rem;
}
.icon-2 {
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: #FFFFFFFF;
  position: relative;
}
.h6 {
  margin: 0;
}
.icon-1 {
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: #FFFFFFFF;
}
.icon-8 {
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: hsla(var(--ig-gray-900));
}
.icon-9 {
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: hsla(var(--ig-gray-700));
}
.icon-7 {
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: hsla(var(--ig-primary-500));
}
